// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.tester-tiny {
  vertical-align: middle !important;
  display: inline-block;
  cursor: wait;
  margin-left: 3px;
  margin-right: 3px;
  background-color: @app-background-color;
  &.idle {
    cursor: initial;
    background: radial-gradient(#64c42d 0.1em, transparent 0.11em);
  }
  &.idle::before, &.idle::after {
    display: none;
    -webkit-animation: none;
  }
}

.gutter[gutter-name=tester] {
    min-width: 0.5em;
}

atom-text-editor.editor .tester-gutter {
  width: 1em;
  height: 1em !important;
  border-radius: 30%;
}

atom-text-editor.editor .tester-row {
  /* Take up the full allowed width */
  left: 0;
  right: 0;
  /* Align the tester dot in the middle */
  display: flex;
  align-items: center;
  justify-content: center;
}

atom-text-editor.editor .tester-highlight, .tester-highlight{
  &.badge {
    border-radius: @component-border-radius;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &.failed {
    &:not(.line-number){
      background-color: @background-color-error;
      color: contrast(@background-color-error);
    }
    .tester-gutter{
      color: @background-color-error;
    }
    .region {
      border-bottom: 1px dashed @background-color-error;
    }
  }
  &.skipped {
    &:not(.line-number){
      background-color: @background-color-warning;
      color: contrast(@background-color-warning);
    }
    .tester-gutter{
      color: @background-color-warning;
    }
    .region {
      border-bottom: 1px dashed @background-color-warning;
    }
  }
  &.passed {
    &:not(.line-number){
      background-color: @background-color-success;
      color: contrast(@background-color-success);
    }
    .tester-gutter{
      color: @background-color-success;
    }
    .region {
      border-bottom: 1px dashed @background-color-success;
    }
  }

  // Used by bottom status icon
  &.status-failed {
    color: @background-color-error;
  }
  &.status-passed{
    color: @background-color-success;
  }
  &.status-skip{
    color: @background-color-warning;
  }
}

.tester.output-view {
	overflow  : auto;
	max-height: 30vh;

	.output {
		background-color: inherit;
	}
}

.tester-tooltip-title {
  float: left;
}

.tester-bottom-status {
  min-width: 2em;
  line-height: 1.3em;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  &[hidden] {
    display: none;
  }
  &.tester-status-failed {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  &.tester-status-passed {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  &.tester-status-skipped {
    border-radius: 0;
  }
}

.tester-bottom-container {
  margin-right: .6em;
  [hidden] {
    display: none;
  }
}

.tester-inline-message {
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,1);
  background: @app-background-color;
  margin-left: 3px;
  max-height: 3em;
  overflow: auto;
}
